body {
	background-image: url("Artboard 2.png");
	background-size: cover;
	background-position: center center;
	animation: fly-through-space 60s linear infinite;
}

@keyframes fly-through-space {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

header {
	text-align: center;
	margin-top: 50px;
}

h1 {
	font-size: 48px;
	color: #fff;
	text-shadow: 2px 2px #689;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	box-shadow: 0 0 10px #000;
}

section {
	margin-bottom: 30px;
}

img {
	max-width: 22%;
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 22px;
  margin-left: 65px;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #fff;
	color: #000;
	font-size: 18px;
	text-decoration: none;
	border-radius: 8px;
	transition: all 0.5s ease-in-out;
	margin-right: 30px;
	margin-left: 60px;
}

.button:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px #fff;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	box-shadow: 0 0 10px #000;
}
